*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

head{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
    color: white;
    background-color: goldenrod;
}

button:hover{
    background-color: rgb(168, 127, 26);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-mi{
    color: goldenrod;
}

header{
    background-color: rgb(245, 245, 245);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(50, 50, 50);
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: goldenrod;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/oficina.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#presentacion .container{
    text-align: center;
    padding: 200px 12px;
}

#actividades{
    background-color: rgb(30, 30, 30);
    color: white;
}

#actividades .container{
    padding: 150px 12px;
}

#actividades h2{
    margin-top: 0;
    font-size: 3.2em;
    text-align: center;
}

#actividades p{
    display: none;
}

#actividades .cartas{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;

}

.cartas:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/gamificacion.jpg");
}

.cartas:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/padlet.jpg");
}

.cartas:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/socrative.jpg");
}

.cartas:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/video.jpg");
}

footer{
    background-color: rgb(230, 230, 230);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #presentacion .container{
        display: flex;
        justify-content: space-evenly;
    }

    #presentacion .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #presentacion h2{
        margin-top: 0px;
    }

    #presentacion .img-container{
        background-image: url("media/yo.png");
        background-size: cover;
        background-position: center center;
        height: 200px;
        width: 200px;
    }

    #actividades .programas{
        display: flex;
        justify-content: center;
    }

    #actividades p{
        display: block;
        margin-bottom: 30px;
    }

    #actividades h2{
        font-size: 4em;
    }

    #actividades h3{
        margin-top: 0;
    }

    #actividades .cartas{
        padding: 15px;
        
    }

    footer .container{
        justify-content: flex-end;
    }
}