*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

head{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2em;}
p{ font-size: 1.25em;}

.container{
    max-width: 1400px;
    margin: auto;
}

#gam{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../media/gam.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#tablas h2{
    margin-top: 20px;
    font-size: 2em;
    text-align: center;
    color: rgb(100, 100, 100);
}

#tablas .container{
    display: flex;
    justify-content: space-evenly;
}

#tablas .tabla{
    background-image: url("../media/recylog.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 500px;
}

#cartas h2{
    margin-top: 20px;
    font-size: 2em;
    text-align: center;
    color: rgb(100, 100, 100);
}

#cartas .container{
    display: flex;
    justify-content: space-evenly;
}

#cartas .carta{
    background-image: url("../media/cartas.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 800px;
}